/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */

body {
	margin: 0;
	min-width: 400px;
	background-color: #e8e8e8;
}

app-root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main .full-width-of-main {
	margin-left: -20px;
	margin-right: -20px;
}

.w100 {
	width: 100%;
}