.videos-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mat-card-wrap {
    max-width: 320px;
    width: 320px;
    min-width: 200px;
    margin: 0 20px 50px 20px;
    cursor: pointer;
}

mat-card {
    height: 100%;
    box-sizing: border-box;
}