<h1>All the videos</h1>

<!-- <mat-spinner *ngIf="!(videos$ | async)" strokeWidth="7" diameter="100"></mat-spinner> -->

<div class="videos-wrap">
  <div class="mat-card-wrap" *ngFor="let video of videos$ | async; let i = index" routerLink="/video/{{video.id}}">
    <mat-card>
      <div mat-card-image class="video-thumbnail-wrap" [ngStyle]="{'background-color': '#989898', 'background-image': 'url(' + video.thumbnail + ')', 'background-size': 'cover'}"></div>
      <mat-card-title>{{video.title}}</mat-card-title>
    </mat-card>
  </div>
</div>
