<div class="full-width-of-main">
  <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>insert_chart</mat-icon>
          Фильтры
        </mat-panel-title>
      </mat-expansion-panel-header>
    
      <p>На данный момент фильтры недоступны, работаем над этим</p>
    
    </mat-expansion-panel>
    
    <mat-spinner class="init-videos-spinner" *ngIf="videos.length === 0" strokeWidth="7" diameter="100"></mat-spinner>
    
    <div class="videos-wrap" infiniteScroll infiniteScrollContainer="#main-sidenav-content" fromRoot="true"  [infiniteScrollDistance]="0" [infiniteScrollThrottle]="150" (scrolled)="onScroll()">
      <div class="mat-card-wrap" *ngFor="let video of videos; let i = index" routerLink="/video/{{video.id}}">
        <mat-card>
          <div mat-card-image class="video-thumbnail-wrap" [ngStyle]="{'background-color': '#989898', 'background-image': 'url(' + video.thumbnail + ')', 'background-size': 'cover'}"></div>
          <div class="popularity-wrap" title="likes/dislikes"><div class="popularity" [style.width.%]="video.popularity > 100 ? 100 : video.popularity"></div></div>
          <mat-card-title>{{video.title}}</mat-card-title>
        </mat-card>
      </div>
      <div class="fetching-new-videos-spinner-wrap">
        <mat-spinner *ngIf="fetchingNew" strokeWidth="3" diameter="30"></mat-spinner>
        <ng-container *ngIf="noMoreVideos">
          <p *ifRole="[0]">Это не все видео. Войдите, чтобы увидеть больше</p>
          <p *ifRole="[1, 5]">На данный момент это все видео</p>
        </ng-container>
      </div>
    </div>
</div>
