.subts-wrap {
    height: 50px;
    background-color: #625a86;
    overflow: hidden;
    position: relative;
}

ul {
    margin: 0 20px 0 30px;
    padding: 0;
    list-style: none;
    font-family: 'Concert One',cursive;
    transition: transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
}

li {
    height: 30px;
    padding: 10px 0;
    line-height: 30px;
    font-size: 24px;
    color: #c0ffee;
}

.string span {
    padding: 3px 7px;
    cursor: pointer;
}

.clickedWord {
    background-color: #3e9e3c;
    border-radius: 4px;
}

.controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0;
}

.subts-wrap:hover .controls {
    opacity: 1;
}

.controls i {
    width: 10px;
    height: 10px;
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 2px 2px 0;
    cursor: pointer;
    transition: .2s;
}

.controls i:hover {
    border-color: #fff;
}

.controls .arrow-top {
    transform: rotate(-135deg);
}

.controls .arrow-down {
    transform: rotate(45deg);
}