<form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input formControlName="id" maxLength="11" matInput placeholder="video id" autocomplete="off">
    <mat-hint *ngIf="!videoForm['controls']['id'].valid && videoForm['controls']['id'].touched">video id length must be 11 characters</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="isDemo">Demo</mat-checkbox>

  <div class="table-wrap">
    <table mat-table [dataSource]="videoForm.get('timeKeys')['controls']">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let i = index" [ngStyle]="{width: '20px', 'text-align': 'center'}">{{i + 1}}</td>
      </ng-container>
    
      <ng-container formArrayName="timeKeys" matColumnDef="timeKeys" sticky>
        <th mat-header-cell *matHeaderCellDef><span (click)="openParser('keys')" class="open-parser">TimeKeys</span></th>
        <td mat-cell *matCellDef="let i = index" [style.width.px]="80"><input [formControlName]="i" type="number" step="0.1" matInput placeholder="key" autocomplete="off"></td>
      </ng-container>
    
      <ng-container formGroupName="subts" matColumnDef="subts-en">
        <ng-container formArrayName="en">
          <th mat-header-cell *matHeaderCellDef><span (click)="openParser('en')" class="open-parser">English</span></th>
          <td mat-cell *matCellDef="let i = index" class="subts-column"><input [formControlName]="i" type="text" matInput placeholder="subtitle" autocomplete="off"></td>
        </ng-container>
      </ng-container>
    
      <ng-container formGroupName="subts" matColumnDef="subts-ru">
        <ng-container formArrayName="ru">
          <th mat-header-cell *matHeaderCellDef><span (click)="openParser('ru')" class="open-parser">Russian</span></th>
          <td mat-cell *matCellDef="let i = index" class="subts-column"><input [formControlName]="i" type="text" matInput placeholder="subtitle" autocomplete="off"></td>
        </ng-container>
      </ng-container>
    
      <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let i = index"><button type="button" (click)="removeSubt(i)" mat-raised-button color="warn" class="remove-btn">X</button></td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="['number', 'timeKeys', 'subts-en', 'subts-ru', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['number', 'timeKeys', 'subts-en', 'subts-ru', 'delete']"></tr>
    </table>
  </div>

  <div class="subts-controls">
    <button type="button" (click)="addSubt(newSubtsNum.value)" mat-raised-button color="primary">Add new subts</button>
    <input #newSubtsNum type="number" matInput value="1" autocomplete="off">
  </div>

  <button type="submit" mat-raised-button [disabled]="!videoForm.valid" class="full-width" color="primary">Update</button>
</form>
