<mat-toolbar color="primary">Sign up</mat-toolbar>

<form ngNoForm method="POST" action="http://localhost:2500/api/auth/sign-up">
  <mat-form-field class="full-width">
    <input matInput required placeholder="Name" name="name" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Surname" name="surname" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Email" name="email" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Login" name="login" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Password" name="password" autocomplete="off">
  </mat-form-field>
  <button mat-stroked-button class="full-width" color="primary">Sign up</button>
</form>