.login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mat-toolbar {
	height: 50px;
    margin-bottom: 20px;
}

.full-width {
	width: 400px;
}

mat-hint {
	color: #f00!important;
}

.w400 {
	width: 400px;
}

button {
	margin-top: 10px;
}