.mat-toolbar {
	height: 50px;
    margin-bottom: 20px;
}

.full-width {
	width: 100%;
}

button {
	margin-top: 10px;
}

.table-wrap {
    overflow: auto;
}

table {
    width: 100%;
    max-width: 100%;
}

table td, table th {
    padding: 5px;
    border: none;
}

table th {
    font-size: 12pt;
    text-align: center;
}

.open-parser {
    width: 50px;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    user-select: none;
    position: relative;
}

.open-parser:hover {
    background-color: rgb(17, 245, 55);
    color: transparent;
}

.open-parser:hover:after {
    content: "+";
    position: absolute;
    font-size: 25pt;
    font-weight: bold;
    color: #fff;
}


table td > input {
    padding: 10px;
    box-sizing: border-box;
    background: #f6f6f6;
    border-radius: 5px;
    box-shadow: 2px 1px 10px #8f8f8f;
}

tr > td:last-child {
    text-align: center;
}

table .remove-btn {
    min-width: 45px;
    margin: 0;
    line-height: 18px;
}

.subts-column {
    min-width: 300px;
}

.subts-controls {
    display: flex;
}

.subts-controls input {
    width: 40px;
    margin: 10px 0 0 7px;
    padding: 9px;
    background: #673ab7;
    color: white;
    border-radius: 4px;
}