.mat-toolbar {
	height: 50px;
    margin-bottom: 20px;
}

.full-width {
	width: 100%;
}

button {
	margin-top: 10px;
}

.table-wrap {
    overflow: auto;
}

table {
    width: 100%;
    max-width: 100%;
}

table td, table th {
    padding: 5px;
    border: none;
}

table th {
    font-size: 12pt;
    text-align: center;
}

table td > input {
    padding: 10px;
    box-sizing: border-box;
    background: #f6f6f6;
    border-radius: 5px;
    box-shadow: 2px 1px 10px #8f8f8f;
}

tr > td:last-child {
    text-align: center;
}

table .remove-btn {
    min-width: 45px;
    margin: 0;
    line-height: 18px;
}

.subts-column {
    min-width: 300px;
}

.subts-controls {
    display: flex;
}

.subts-controls input {
    width: 40px;
    margin: 10px 0 0 7px;
    padding: 9px;
    background: #673ab7;
    color: white;
    border-radius: 4px;
}

.parser {
    margin-top: 30px;
}

mat-radio-group {
    display: block;
    margin-bottom: 30px;
}

mat-radio-group mat-radio-button {
    margin-right: 30px;
}