main {
	padding: 0 50px;
}

mat-toolbar {
	height: auto;
	margin-bottom: 40px;
	justify-content: flex-end;
}

button {
	margin: 5px 2px;
	font-size: 14pt;
	border: 1px solid #673ab7;
}

button:hover {
	border: 1px solid white;
}