<mat-toolbar color='primary'>
  <button mat-button routerLink="home" class="title">Yteng</button>
  <button mat-button routerLink="videos">Видео</button>
  <button *ngIf="roles.role === 'guest'" mat-button (click)="loginDialog()">Вход</button>
  <button *ngIf="roles.role === 'guest'" mat-button (click)="signupDialog()">Регистрация</button>
  <button *ngIf="roles.role === 'admin'" class="admin-btn" mat-button routerLink="admin">Administrate</button>
  <button *ngIf="roles.role !== 'guest'" mat-button (click)="logoutDialog()">Выйти</button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>


<app-footer></app-footer>
