main {
	padding: 0 50px;
	flex: 1;
}

@media screen and (max-width: 768px){
	main {
		padding: 0;
	}
}

mat-toolbar {
	height: auto;
	margin-bottom: 20px;
	justify-content: flex-end;
}

button {
	margin: 5px 2px;
	font-size: 14pt;
	border: 1px solid #673ab7;
}

button:hover {
	border: 1px solid white;
}

button.title {
	margin-right: auto;
    background-color: #fff;
    color: #673ab7;
    font-weight: bold;
    font-style: italic;
}

.admin-btn {
	background-color: rgba(0, 0, 0, 0.6);
}