<mat-toolbar color='primary'>
  <button *isGuest="true" mat-button routerLink="login">Login page</button>
  <button mat-button routerLink="home">Home</button>
  <button mat-button routerLink="videos">Videos</button>
  <button *isGuest="true" mat-button (click)="loginDialog()">Log in</button>
  <button *isGuest="true" mat-button (click)="signupDialog()">Sign up</button>
  <button class="admin-btn" mat-button routerLink="admin">Administrate</button>
  <button *isGuest="false" mat-button (click)="logoutDialog()">Log out</button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>


