<mat-toolbar color="primary">Login</mat-toolbar>

<form (ngSubmit)=logins()>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Login" name="login" [(ngModel)]="userLogin" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Password" name="password" [(ngModel)]="userPassword" autocomplete="off">
  </mat-form-field>
  <button (click)="login($event)" mat-stroked-button class="full-width" color="primary">Login</button>
</form>