<mat-toolbar color="primary">Sign up</mat-toolbar>

<form method="POST" action="/signup">
  <mat-form-field class="full-width">
    <input matInput required placeholder="Name" name="name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Surname" name="surname">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Email" name="email">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Login" name="login">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required placeholder="Password" name="password">
  </mat-form-field>
  <button mat-stroked-button class="full-width" color="primary">Sign up</button>
</form>