<div class="video-wrap full-width-of-main">
    <div class="video" [style.max-width]="videoMaxWidth">
        <yt-player [videoId]="videoId"></yt-player>
        <ng-container *ngIf="video?.subts">
          <subtitles *ngFor="let lang of langsToShow" [subtitles]="video.subts[lang]" [currentRowIndex]="curRowIdx" [player]="player" (scrollSubts)="scrollSubts($event)"></subtitles>
        </ng-container>
    </div>
</div>

<mat-form-field>
  <mat-label>Check language</mat-label>
  <mat-select (selectionChange)="addLanguage($event.value)">
    <mat-option *ngFor="let lang of video?.subts | keyvalue" [value]="lang.key">
      {{lang.key}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button routerLink="/admin/view-video/{{video?.id}}" *ifRole="[roles.admin]" mat-raised-button color="primary">Administrate</button>
