.video-wrap {
    max-height: calc(100vh - 68px);
}

.video {
    max-width: calc((100vh - 50px - 20px - 52px) / 9 * 16);
    margin: auto;
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
