<mat-toolbar color='primary'>
  <button mat-button routerLink="home" routerLinkActive="active-link" class="title">Youteng</button>
  <button mat-button routerLink="videos" routerLinkActive="active-link">Видео</button>
  <div class="auth" *ifRole="[roles.guest]">
    <a (click)="loginDialog()">Вход</a>/<a (click)="signupDialog()">Регистрация</a>
  </div>
  <button *ifRole="[roles.admin]" class="admin-btn" mat-button routerLink="admin" routerLinkActive="active-link">Administrate</button>

  <mat-icon *ifRole="[roles.user, roles.admin]" mat-button [matMenuTriggerFor]="profileMenu" style="cursor: pointer; margin-left: 10px;">account_circle</mat-icon>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="profile">Профиль</button>
    <button mat-menu-item (click)="logoutDialog()">Выйти</button>
  </mat-menu>
</mat-toolbar>
