mat-toolbar {
	height: auto;
	justify-content: flex-end;
}

mat-toolbar > button {
	margin: 5px 3px;
	font-size: 14pt;
	border: 1px solid #673ab7;
	transition: .2s;
}

mat-toolbar > button.active-link {
	border-bottom: 1px solid white;
	border-radius: 0;
}

mat-toolbar > button:hover, button.active-link:hover {
	border: 1px solid white;
    border-radius: 5px;
}

.auth {
	margin: 0 10px;
}

.auth a {
	margin: 5px 10px;
	font-style: italic;
	cursor: pointer;
}

mat-toolbar > button.title {
	margin-right: auto;
    background-color: #fff;
    color: #673ab7;
    font-weight: bold;
    font-style: italic;
}

.admin-btn {
	background-color: rgba(0, 0, 0, 0.6);
}