.wrap {
    min-height: calc(100vh - 139px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}

.wrap p {
    padding: 30px;
    text-align: center;
    border: 3px double;
    border-radius: 4px;
    background-color: #e8a0a0;
}

.wrap b {
    font-size: 170%;
}