<p>
  Demo: {{video?.isDemo ? 'true' : 'false'}}
</p>

<div class="table-wrap">
  <table mat-table [dataSource]="video?.timeKeys">
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef class="number">№</th>
      <td mat-cell *matCellDef="let i = index" class="number">{{i + 1}}</td>
    </ng-container>
  
    <ng-container matColumnDef="timeKeys" sticky>
      <th mat-header-cell *matHeaderCellDef class="time-keys">TimeKeys</th>
      <td mat-cell *matCellDef="let element" class="time-keys">{{element}}</td>
    </ng-container>
  
    <ng-container matColumnDef="subts-en" class="subts-column">
      <th mat-header-cell *matHeaderCellDef>English</th>
      <td mat-cell *matCellDef="let i = index" class="subts-column">{{video.subts.en[i]}}</td>
    </ng-container>
  
    <ng-container matColumnDef="subts-ru" class="subts-column">
      <th mat-header-cell *matHeaderCellDef>Russian</th>
      <td mat-cell *matCellDef="let i = index" class="subts-column">{{video.subts.ru[i]}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['number', 'timeKeys', 'subts-en', 'subts-ru']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['number', 'timeKeys', 'subts-en', 'subts-ru']"></tr>
  </table>
</div>