mat-toolbar {
	height: auto;
	justify-content: flex-end;
}

mat-toolbar > button {
	margin: 5px 2px;
	font-size: 14pt;
	border: 1px solid #673ab7;
}

mat-toolbar > button:hover {
	border: 1px solid white;
}

mat-toolbar > button.title {
	margin-right: auto;
    background-color: #fff;
    color: #673ab7;
    font-weight: bold;
    font-style: italic;
}

.admin-btn {
	background-color: rgba(0, 0, 0, 0.6);
}